<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Habit Tracker</title>
   <link rel="stylesheet" href="/css/home.css">
   <!-- fontawesome -->
   <script src="https://kit.fontawesome.com/cf3ddae05c.js" crossorigin="anonymous"></script>
</head>

<body>
   <header id="header">
      <h2>
         Habits Tracker
      </h2>
   </header>

   
   <!-- view weekly history of habits -->
   <a href="/habits/history" class="weekBtn">
      <button>
         Week View
      </button>
   </a>

   <!-- display habits list -->
   <ul id="habits-list">
      <% for(let habit of habits){ %>
         <li id="habit-<%= habit %>">
            <div class="habit-details">
               <p>
                  <%= habit.title %>
                     <small>
                        <%= habit.timing %>
                     </small>
               </p>

               <!-- mark the status of habits -->
               <a href="/habits/status/done/<%= habit._id %>">
                  <button style="<% if(habit.status == 'Done'){ %>background-color: green <% } %>">Done</button>
               </a>
               <a href="/habits/status/notdone/<%= habit._id %>">
                  <button style="<% if(habit.status == 'Not Done'){ %>background-color: green <% } %>">Not Done</button>
               </a>
               <a href="/habits/status/none/<%= habit._id %>">
                  <button style="<% if(habit.status == 'None'){ %>background-color: green <% } %>">None</button>
               </a>
            </div>

            <!-- delete habits button -->
            <div class="delete-habit">
               <a href="/habits/delete/<%= habit._id %>">
                  <i class="fa-solid fa-delete-left"></i>
               </a>
            </div>
         </li>
         <% } %>
   </ul>

   <!-- Add or create new habit -->
   <form action="/habits/create" id="create-habit" method="POST">
      <input type="text" id="title" name="title" placeholder="Add your habits here" required>
      <input type="hidden" name="status" value="None">
      <input type="time" name="timing" placeholder="Time" id="timing" required>
      <button type="submit"><i class="fa-solid fa-plus"></i> Add Habit</button>
   </form>
</body>

</html>